$white = #FFFFFF
$darkGray = #A9A9A9
$lightPink = #ffb6c1
$black = #000000
$grey = #808080

body
  color $black
  font-family 'Ubuntu', 'Open Sans', 'Sans Serif' !important

.shadow-bg
  -webkit-transition all 0.3s
  -moz-transition all 0.3s
  -ms-transition all 0.3s
  -o-transition all 0.3s
  transition all 0.3s
  -webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20)
  -moz-box-shadow 0 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20)
  box-shadow 0 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20)

.right
  float right

#header
  height 400px

  .dropdown
    padding 20px 0
    
    .btn
      border-radius 0

#about
  margin-top -250px

  .about-box
    padding 40px

    .about-personal, .about-data-wrapper
      margin-bottom 60px

      .about-photo
        display block
        margin 0 auto;
        border-radius 50%

      .about-name
        text-align center
        margin-top 15px
        text-transform uppercase
        font-weight 700
        font-size 30px
        letter-spacing 5px

      .about-title
        text-align center
        font-size 12px !important
        font-weight 600
        text-transform uppercase
        letter-spacing 3px
        padding 15px 0

      .about-section-title
        font-size 24px
        font-weight 700
        letter-spacing 5px
        text-transform uppercase
        position relative
        line-height 1.7

      .about-section-title::after, .service-title::after, .timeline-title::after
        display inline-block
        content ''
        position absolute
        bottom -10px
        left 0
        width 70px
        height 3px
        border-radius 30px

      .about-data
        margin: 30px 0 0

        p
          font-size 15px
          line-height 1.8
          font-weight 400
          margin-bottom 0

        div
          margin-top 20px
          font-size 14px

          span
            width 80px
            display inline-block
            font-weight 700

        div:first-of-type
          margin-top 30px !important

    .about-social
      background $lightPink
      width 100%
      height 75px
      line-height: 75px
      position absolute
      left 0
      bottom 0
      text-align center
      margin-top 0 !important

      a
        text-align center
        font-size 20px
        position relative
        display inline-block
        width 50px
        height 50px
        line-height 50px
        margin 10px
        -webkit-border-radius 50%
        -moz-border-radius 50%
        border-radius 50%
        -webkit-transition all 0.5s;
        -moz-transition all 0.5s
        -o-transition all 0.5s

#education, #experience, #skills, #languages, #interesting
  margin-top 60px

  .section-title
    h2
      font-size 28px
      font-weight 700
      letter-spacing 5px
      text-transform uppercase
      text-align center
      margin 40px 0 0

  .section-content
    padding 50px
    margin-top 50px

    .list-description
      h6
        font-weight 700
        font-size 20px

        span
          font-size 12px
          display initial !important
          font-weight 300

      span
        font-weight 600
        margin-bottom 10px
        display block

      p
        font-weight 300
        font-size 14px

    .list-img
      img
        display block
        margin 0 auto

      .experience-date
        width 100%
        z-index 1
        text-align center
        -webkit-transition 0.4s
        transition 0.4s
        border-radius 50%

        i
          font-size 56px
          padding 35px

#skills, #languages
  .service-wrapper
    margin-top 50px

    .skill
      padding 40px
      min-height 205px

      .service-center
        padding 0 40px
        position absolute
        width 100%
        top 50%
        left 50%
        opacity 1
        visibility visible
        -webkit-transform translate(-50%, -50%)
        -moz-transform translate(-50%, -50%)
        -ms-transform translate(-50%, -50%)
        -o-transform translate(-50%, -50%)
        transform translate(-50%, -50%)
        -webkit-transition all 0.5s
        -moz-transition all 0.5s
        -ms-transition all 0.5s
        -o-transition all 0.5s
        transition all 0.5s

        .service-icon
          font-size 28px
          padding-bottom 15px
          text-align center

        .service-title
          font-size 16px
          font-weight 600
          letter-spacing 3px
          text-transform uppercase
          line-height 1.5
          text-align center

          span
            display block
            font-size 10px
            font-weight 300

        .service-title::after
          display block
          content ''
          margin 18px auto 0
          width 50px
          height 3px
          border-radius 30px

    .service-desc
      opacity 0
      visibility hidden
      -webkit-transform scale(0.5)
      -moz-transform scale(0.5)
      -ms-transform scale(0.5)
      -o-transform scale(0.5)
      transform scale(0.5)
      -webkit-transition all 0.5s
      -moz-transition all 0.5s
      -ms-transition all 0.5s
      -o-transition all 0.5s
      transition all 0.5s
      text-align center

      p
        font-size 15px
        line-height 1.8
        font-weight 400

#skills
  .service-wrapper:hover
    .service-center
      opacity 0
      visibility hidden

    .service-desc
      opacity 1
      visibility visible
      -webkit-transform scale(1)
      -moz-transform scale(1)
      -ms-transform scale(1)
      -o-transform scale(1)
      transform scale(1)

#languages
  .service-wrapper
    margin-bottom 50px

.light
  background $white

  #header
    background-color $lightPink

    .dropdown
      .btn
        background $white
        border-color $white
        color $darkGray

  #about
    .about-box
      background $white

      .about-name, .about-title, .about-section-title
        color $darkGray

      .about-section-title::after, .service-title::after, .timeline-title::after
        background $lightPink

      .about-data
        p, div
          color $black

      .about-social
        background $lightPink

        a
          color $white

        a:hover
          background $white

          i
            color $lightPink

  #education, #experience, #skills, #languages, #interesting
    .section-title
      h2
        color $grey

    .section-content
      background $white

      .list-description
        h6
          span
            color $darkGray

      .list-img
        img
        .experience-date
          background $lightPink

          i
            color $white

  #skills, #languages
    .skill
      background $white

      .service-icon
        color $lightPink

      .service-title
        color $darkGray

        span
            color $darkGray

      .service-title::after
        background $lightPink

.dark
  background $black

  #header
    background-color $grey

    .dropdown
      .btn
        background $black
        border-color $black
        color $white

  #about
    .about-box
      background $black

     .about-name, .about-title, .about-section-title
        color $white

      .about-section-title::after, .service-title::after, .timeline-title::after
        background $grey

       .about-data
        p, div
          color $white

      .about-social
        background $grey

        a
          color $black

        a:hover
          background $black

          i
            color $grey
  #education, #experience, #skills, #languages, #interesting
    .section-title
      h2
        color $white

    .section-content
      background $white

      .list-description
        h6
          span
            color $white

      .list-img
        img
        .experience-date
          background $grey

          i
            color $black

  #skills, #languages
    .skill
      background $darkGray

      .service-icon
        color $grey
      
      .service-title
        color $white

        span
          color $white

      .service-title::after
        background $black

